{% extends "layout.html" %}

{% block title %}
    Play Active Game
{% endblock %}

{% block main %}
  <form action="{{ url_for('play_activegame') }}" method="post">
      <div class="timer">
        <div class="col-md-6 offset-md-4 center-block">
          <p id="demo"></p>

            <p>Time left: <span id="countdowntimer">15</span> seconds</p>

            <script type="text/javascript">
                var timeleft = 15;
                var downloadTimer = setInterval(function(){
                timeleft--;
                document.getElementById("countdowntimer").textContent = timeleft;
                if(timeleft <= 0)
                    clearInterval(downloadTimer);
                },1000);
            </script>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-2 center-block">
                <button type="button" class="btn play-btn btn-default question-lg btn-outline-light">{{ question }}</button>
            </div>
    		    <div class="col-md-6 offset-md-5 center-block">
                <a href="{{ url_for('play_activegame') }}"><button type="button" class="btn play-btn btn-default btn-lg btn btn-outline-light">{{ correct_answer }}</button></a>
  		          <a href="{{ url_for('play_activegame') }}"><button type="button" class="btn play-btn btn-default btn-lg btn btn-outline-light">{{ wrong_answer1 }}</button></a>
                <a href="{{ url_for('play_activegame') }}"><button type="button" class="btn play-btn btn-default btn-lg btn btn-outline-light">{{ wrong_answer2 }}</button></a>
                <a href="{{ url_for('play_activegame') }}"><button type="button" class="btn play-btn btn-default btn-lg btn btn-outline-light">{{ wrong_answer3 }}</button></a>
            </div>
        </div>
      </div>
      <div class = "row">
        <div class="col-md-4 offset-md-2">
          <div style=" text-align: center;" > <h4 class="score"> SCORE </h4>
              <!-- HIER MOET EEN SCOREBORD KOMEN MET AANTALEN GOED EN FOUT  -->
          </div>
        </div>
      </div>
  </form>
{% endblock %}
